@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url(header.css);
@import url(acordeon.css);

*{
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

body{
  background-color: black;
}

canvas{
  display: block;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

main{
  padding: 1rem;
  margin: 1rem;
  border: solid 1px black;
  border-radius: 1rem;
  background-color: #353535;
  color: #00ff5f;
}


@media screen and (min-width: 768px) {
  main{
    max-width: 1024px;
    margin: 1rem auto;
  }

}